* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-color: #111;
    color: white;
}


/* Page - 1  */
/* NAV BAR : */
nav {
    position: fixed;
    /* background-color: rgb(0, 255, 68); */
    display: flex;
    align-items: flex-start;
    height: 12vh;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    background-color: #111;
    z-index: 10;
}

nav h1 {
    font-size: 1.6vw;
}

.nav-part2 {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}

.nav-part2 h4 {
    font-size: 0.73vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1.6vw;
}

.nav-part2 h5 {
    margin-bottom: 1vw;
    /* background-color: red; */
    display: none;
    overflow: hidden;
}

.nav-part2 h5 span {
    font-size: 0.77vw;
    font-weight: 400;
    transform: translateY(25px);
    /* display: inline-block; */
}

/* NAV BUTTON */
nav button {
    background-color: #0BA34E;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    font-size: 0.85vw;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

nav button svg {
    height: 0.8vw;
    margin-left: 1.6vw;
}

/* NAV BUTTON */
#nav-bottom {
    width: 79%;
    height: 0vh;
    position: absolute;
    /* background-color: red; */
    top: 100%;
    background-color: #111;
    z-index: 9;
    border-bottom: 1px solid #dadada;
}


/* Page - 1 */
/* MAIN BODY */

.page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page1 h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 7vw;
    line-height: 7vw;
}

.page1 .heading-1 span {
    background-color: #0BA34E;
    border-radius: 50%;
    padding: 0 15px;
    font-size: 10vh;
}

.page1 .heading-1 svg {
    /* height: 9vw; */
    border-radius: 50%;
    text-align: center;
    width: 4vw;
    /* background-color: #0BA34E; */
}

#main .page1 .heading-1 span i {
    font-size: 7vh
}

.page1 p {
    color: white;
    text-align: center;
    font-weight: 400;
}

.page1-something {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.page1-something h4 {
    color: white;
    font-weight: 600;
    font-size: 1.2vw;
    padding: 4px 13px;
    border: 1px solid rgb(179, 177, 177);
    border-radius: 50px;
}

.page1-something #page1-about-four {
    border: none;
    padding: 1px 2px;
}


.page1 #moving-div {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    margin-top: 10vh;
    bottom: 0%;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;
    width: 50%;
}

.page1 #moving-div .move {
    display: inline-block;
    animation: moving 7s linear infinite;
}

.page1 #moving-div .move img {
    height: 1vw;
    margin: 0 1.2vw;
}

@keyframes moving {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* If I Did Blur Effect then i impliment */


/* Page - 2 */

.page2 {
    /* border: 1px solid red ;  */
    position: relative;
    height: 100vh;
    width: 79%;
    background-color: #111;
    margin-left: 22.7vh;
    border-top: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.page2 .page2-left {
    /* border: 1px solid blue;   */
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page2 .page2-left p {
    margin-top: 150px;
    font-size: 13px;
    font-weight: 100;
}

.page2 .page2-left h5 {
    width: 75%;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 120px;
}

.page2 .page2-right {
    /* border: 1px solid blue;  */
    padding-top: 10vh;
    margin-left: 15vh;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.page2 .page2-right .right-elem {
    /* border: 1px solid red; */
    border-radius: 5px;
    position: relative;
    height: 20vh;
    padding-top: 25px;
    border-bottom: 1.5px solid #333;
    transition: ease .3s;
    padding-left: 10px;
}

.page2 .page2-right .right-elem h3 {
    font-size: 17px;
    font-weight: 600;
}

.page2 .page2-right .right-elem img {
    position: absolute;
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

.page2 .page2-right .right-elem:hover {
    background-color: #202020;
}


/* Page - 3 */
.page3 {
    height: 100vh;
    width: 79%;
    margin-left: 22.5vh;
    border-radius: 15px;
    margin-top: 20px;
    background-color: #111;
    position: relative;
    /* background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp); */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Page - 3 Video */
.page3 video {
    /* border: 1px solid green; */
    position: absolute;
    height: 105%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    opacity: 0;
    transform: scaleX(0.1) scaleY(.1);
}

.page3 .center-icon {
    /* border:  1px solid blue ; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page3 .center-icon .icon {
    /* border: 1px solid red ; */
    border-radius: 50%;
    background-color: #0BA34E;
    padding: 50px 55px;
}

.page3 .center-icon .icon i {
    color: #111;
}



/* Page - 4 */
.page4 {
    /* border: 1px solid blue; */
    height: 100vh;
    width: 100%;
    margin-top: 12vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page4 .left-div {
    /* border: 1px solid blue; */
    /* background-color: #333; */
    width: 40%;
    height: 80%;
    margin-left: 10vh;
}

.page4 .left-div h1 {
    padding-left: 13vh;
    color: black;
    margin-top: 17vh;
    font-weight: 800;
}

.page4 .right-div {
    /* border: 1px solid blue; */
    /* background-color: #333; */
    width: 45%;
    height: 80%;
    margin-right: 10vh;
}

.page4 .right-div h4 {
    font-size: 13px;
    font-weight: 500;
    color: rgb(96, 95, 95);
    margin-left: 10vh;
    margin-top: 5vh;
    text-transform: uppercase;
}

.page4 .right-div h5 {
    width: 80%;
    font-size: 15px;
    font-weight: 600;
    color: black;
    margin-left: 10vh;
    margin-top: 5vh;
    margin-bottom: 25px;
}


/* page - 5 */
.page5 {
    /* border: 1px solid red; */
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(250, 247, 248);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page5 .left-div {
    /* background-color: #333; */
    position: relative;
    color: #111;
    margin-left: 22.5vh;
    width: 20%;
    min-height: 80vh;
    border-top: 2px solid #5f5b5b;
}

.page5 .left-div h2 {
    font-size: 30px;
    margin-top: 7vh;
    margin-bottom: 9vh;
    margin-left: 5vh;
}

.page5 .left-div p {
    width: 75%;
    margin-left: 5vh;
}

.page5 .right-sec {
    /* margin-top: 3vh; */
    /* background-color: #333; */
    position: relative;
    width: 56%;
    margin-right: 22.5vh;
}

.page5 .right-sec img {
    border-radius: 15px;
    margin-top: 1vh;
    width: 100%;
    height: 65vh;
    opacity: 1;
}

.page5 .right-sec video {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1vh;
    object-fit: cover;
    border-radius: 15px;
    width: 100%;
    height: 65vh;
    opacity: 0;
    scale: 0;
}


/* page - 6 */
.page6 {
    /* border: 1px solid red; */
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(250, 247, 248);
    display: flex;
    flex-direction: row-reverse;
    /* flex-direction: row; */
    justify-content: space-between;
}

.page6 .six-left-div {
    position: relative;
    color: #111;
    margin-right: 22.5vh;
    /* margin-left: 22.5vh; */
    width: 20%;
    min-height: 80vh;
    border-top: 2px solid #5f5b5b;
}

.page6 .six-left-div h2 {
    font-size: 30px;
    margin-top: 7vh;
    margin-bottom: 9vh;
    margin-left: 5vh;
}

.page6 .six-left-div p {
    width: 75%;
    margin-left: 5vh;
}

.page6 .six-right-sec {
    /* margin-top: 3vh; */
    position: relative;
    width: 56%;
    margin-left: 22.5vh;
    /* margin-right: 22.5vh; */
}

.page6 .six-right-sec img {
    border-radius: 15px;
    margin-top: 1vh;
    width: 100%;
    height: 65vh;
    opacity: 1;
}

.page6 .six-right-sec video {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1vh;
    object-fit: cover;
    border-radius: 15px;
    width: 100%;
    height: 65vh;
    opacity: 0;
    scale: 0;
}


/* page - 7 */



/* page - 8 */
.page8 {
    /* border: 1px solid blue; */
    position: relative;
    height: 318vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page8 .page8-left-div {
    position: relative;
    /* border: 1px solid red; */
    margin-top: 2vh;
    margin-left: 22.5vh;
    position: relative;
    width: max-content;
    height: 99%;
}

.page8 .page8-left-div>button {
    position: sticky;
    top: 12.5%;
    font-size: 15px;
    font-weight: 400;
    background-color: #0BA34E;
    padding: 1vw 4vw;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.page8 .page8-right-div {
    /* border: 1px solid red; */
    margin-top: 10vh;
    width: 65%;
    min-height: 80%;
    font-size: 2vw;
    font-weight: 600;
}

.page8 .page8-right-div p {
    width: 83.9%;
    padding-bottom: 16vh;
    /* border-bottom: 1px solid green; */
}

.page8 .page8-right-div p span {
    display: inline-block;
    width: 250px;
}

.page8 .page8-right-div .page8-something {
    /* border: 1px solid blue; */
    margin-bottom: 2vh;
    margin-top: 5px;
    height: 122vh;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
}

.page8 .page8-right-div .page8-something h3 {
    width: 83.9%;
    padding-top: 5px;
    /* border-top: 1px solid #0BA34E; */
    margin-top: 2vh;
    margin-bottom: 9vh;
}

.page8 .page8-right-div .page8-something .flex-item {
    width: 84%;
    display: flex;
    flex-direction: row;
    /* border-bottom: 1px solid #dadada; */
}

.page8 .page8-right-div .page8-something .flex-item h6 {
    margin-right: .5vh;
    border: 1px solid #918686;
    border-radius: 12px;
    margin-bottom: 6vh;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 500;
}

.page8 .page8-right-div .page8-something-div {
    /* border: 1px solid red; */
    width: 84.7%;
    height: 100%;
}

.page8 .page8-right-div .page8-something .flex-content {
    /* border: 1px solid palegreen; */
    border-top: 2px solid #333;
    margin-top: 3px;
    /* border-radius: 10px;     */
    width: 99.1%;
    height: 14.5%;
    display: flex;
    transition: ease .7s;
}

.page8 .page8-right-div .page8-something .flex-content:hover {
    background-color: #252323;
    border-top: 2px solid #8e8787;
}

.page8 .page8-right-div .page8-something .flex-content:hover h6 {
    width: 19vh;
    font-size: 18px ;  
    transition: ease 0.7s;
}

.page8 .page8-right-div .page8-something .flex-content p {
    /* border: 1px solid red; */
    /* border-top: 2px solid #333; */
    padding-top: 10px;
    padding-left: 15vh;
    font-size: 11px;
    font-weight: 400;
}

.page8 .page8-right-div .page8-something .flex-content h6 {
    /* border: 1px solid brown; */
    width: 16vh;
    /* border-top: 2px solid #333; */
    padding-top: 12px;
    font-size: 15px;
}

summary::marker {
    content: "";
}

summary:hover {
    cursor: pointer;
}


/* page - 9 */
.page9 {
    background-color: white;
    min-height: 130vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page9 h1{
    /* border: 1px solid red; */
    width: 79%;
    margin-left: 22.5vh;
    margin-top: 12vh;
    display: flex;
    justify-content: center;
    color: #111;
    font-size: 11vh;
    margin-bottom: 17vh;
    padding-bottom: 8vh;
    border-bottom: 2px solid #202020;
}

.page9 .page9-content {
    /* border: 1px solid blue; */
    /* border-bottom: 1px solid #333; */
    width: 79%;
    height: 40%;
    margin-left: 22.5vh;
    display: flex;
    justify-content: space-between;
}

.page9 .page9-content .page9-left-div {
    /* border: 1px solid red ; */
    width: 20%; 
}

.page9 .page9-content .page9-left-div>button {
    padding: 2vh 3vh;
    background-color:  #0919fb;
    border-radius: 50px;
    border: none;
    position: sticky;
    top: 12%;
}

.page9 .page9-content .page9-left-div>button span {
    padding-left: 5px;
    font-size: 15px;
}

.page9 .page9-content .page9-left-div>button:hover {
    cursor: pointer;
    background-color: #2d3bff;
}

.page9 .page9-content .page9-right-div {
    /* border: 1px solid red ; */
    color: #111;
    width: 70%;
}

.page9 .page9-content .page9-right-div p {
    padding-left: 8vh;
    width: 95%;
    font-size: 20px ;
    font-weight: 500;
}

/* page - 9 ( bottom ) */
.page9 .page9-bottom {
    height: 60vh;
    width: 79%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 22.5vh;
    border-top: 1px solid #dadada;
    margin-top: 12vh;
    margin-bottom: 12vh;
    gap: 1vh;
}

.page9 .page9-bottom .page9-h5 {
    color: #000000;
    margin-bottom: 4vh;
    padding-top: 12px;
    font-weight: 500;
    font-size: 14px;
}

.page9 .page9-bottom .page9-part1 {
    width: 15%;
    height: 80%;
    border-right: 1px solid #dadada;
}

.page9 .page9-bottom .page9-part2 {
    display: flex;
    flex-direction: column;
    width: 30% ;
    height: 80%;
    border-right: 1px solid #dadada;
}

.page9 .page9-bottom .page9-part3{
    width: 18%;
    height: 80%;
    border-right: 1px solid #dadada;
}

.page9 .page9-bottom .page9-part4{
    /* border: 1px solid red */
    width: 14%;
    height: 80%;
    border-right: 1px solid #dadada;
}

.page9 .page9-bottom #page9-h6 {
    color : white;
}

.page9 .page9-bottom #page9-h6 h6 {
    display: flex;
    margin-top: 8px ;
    align-items: center;
    margin-right: 1vh;
    font-weight: 500;
    width: 65%;
    /* color: white; */
    background-color: #111;
    padding: 5px 12px;
    border-radius: 50px;
}

.page9 .page9-bottom #page9-h6 span {
    margin-right: 10px;
    background-color: #333;
    padding : 5px 9px;
    border-radius: 50px;
}

/* page - 9 ( Part-2 content positioning ) */
.page9-bottom .page9-part2 h6:nth-child(2) {
    transform: translateX(5%);
}

.page9-bottom .page9-part2 h6:nth-child(3) {
    transform: translateX(12%);
}

.page9-bottom .page9-part2 h6:nth-child(4) {
    transform: translateX(19%);
}

.page9-bottom .page9-part2 h6:nth-child(5) {
    transform: translateX(26%);
}

.page9-bottom .page9-part2 h6:nth-child(6) {
    transform: translateX(33%);
}

.page9-bottom .page9-part2 h6:nth-child(7) {
    transform: translateX(40%);
}

/* page - 9 ( Part-3 content positioning ) */
.page9-bottom .page9-part3 h6:nth-child(2) {
    transform: translateX(10%);
}

.page9-bottom .page9-part3 h6:nth-child(3) {
    transform: translateX(40%);
}

/* page - 9 ( Part-3 content positioning ) */
.page9-bottom .page9-part4 h6:nth-child(2) {
    transform: translateX(10%);
}

.page9-bottom .page9-part4 h6:nth-child(3) {
    transform: translateX(50%);
}


/* page - 10 */
.page10 {
    /* border: 1px solid red; */
    height: 125vh;
    background-color: #000000;
}

.page10-content {
    /* border: 1px solid #0919fb; */
    height: 50vh;
    width: 79%;
    margin-top: 11vh;
    margin-left: 22.5vh;
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

.page10-content .content-part {
    /* border: 1px solid #0BA34E; */
    border-radius: 16px;
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #242323;
}

.page10-content .content-part h1 {
    padding-left: 4vh;
    font-size: 7vh;
    margin-top: 27vh;
    font-weight: 800;
}

.page10-content .content-part p {
    padding-left: 4vh;
    font-size: 17px;
    font-weight: 500;
}

.page10 .page10-content-bottom {
    /* border: 1px solid red; */
    height: 50vh;
    width: 79%;
    margin-top: 3vh;
    margin-left: 22.5vh;
    display: flex;
    flex-direction: row;

    gap: 1vh;
}

.page10-content-bottom .content-part-bottom {
    /* border: 1px solid #0BA34E; */
    background-color: #242323;
    border-radius: 16px;
    width: 50%;
    height: 100%;
}

.page10-content-bottom .content-part-bottom h1 {
    padding-left: 4vh;
    font-size: 7vh;
    margin-top: 27vh;
    font-weight: 800;
}

.page10-content-bottom .content-part-bottom p {
    padding-left: 4vh;
    font-size: 17px;
    font-weight: 500;
}

/* Page - 11  ( Footer ) */

.page11 {
    height: 100vh;
    width: 100%;
    
}